= f.simple_fields_for :cliente do |cf|
  .row
    .col-6
      = cf.input :nombre, placeholder: 'Ingrese el nombre del cliente'
    .col-6
      = cf.input :telefono, placeholder: 'Ingrese el telefono del cliente'
