.block.block-themed
  .block-header.bg-primary-dark
    %h3.block-title
      %i.fa.fa-building
      Tienda
    .block-options
      .block-options-item
        = link_to [:new, :tienda], class: 'btn btn-alt-secondary' do
          %i.fa.fa-plus
          registrar tienda
  .block-content
    = render 'empresas/table', empresas: @tiendas