.block
  .block-header.block-header-default
    %h3.block-title
      Modificar #{@armazon}
    .block-options
      .block-options-item
  .block-content
    = render 'productos/form', producto: @armazon, tipos: Armazon::TIPOS
