.block
  .block-header.block-header-default
    %h3.block-title
      %i.fa.fa-adjust
      Lista de armazones
    .block-options
      .block-options-item
        = link_to [:new, :armazon], class: 'btn btn-alt-secondary' do
          %i.fa.fa-plus
          registrar armazon
  .block-content
    = render 'productos/table', productos: @armazones
