.block
  .block-header.block-header-default
    %h3.block-title
      Detalles del armazon #{@armazon}
    .block-options
      .block-options-item
  .block-content
    = render 'productos/producto', producto: @armazon
