.block
  .block-header.block-header-default
    %h3.block-title
      %i.fa.fa-plus
      registrar lente
    .block-options
      .block-options-item
  .block-content
    = render 'productos/form', producto: @lente, tipos: Lente::TIPOS
