.block
  .block-header.block-header-default
    %h3.block-title Registrar Lente
    .block-options
      .block-options-item
  .block-content
    = render 'productos/form', producto: @lente, tipos: Lente::TIPOS
