.block
  .block-header.block-header-default
    %h3.block-title
      %i.si.si-eye
      detalles del lente #{@lente}
    .block-options
      .block-options-item
  .block-content
    = render 'productos/producto', producto: @lente

  .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
    = link_to [:lentes], class: 'btn btn-alt-secondary' do
      %i.si.si-arrow-left
      regresar
    = link_to [:edit, @lente], class: 'btn btn-alt-warning pull-right' do
      %i.si.si-pencil
      editar
