= form_tag recursos_ruta, method: :get, class: 'form-inline' do
  = text_field_tag :q, params[:q], placeholder: 'buscar',
    class: 'form-control mb-2 mr-sm-2 mb-sm-0'
  = button_tag type: 'submit', class: "btn btn-alt-primary"  do
    %i.fa.fa-search
    buscar
