.block
  .block-header.block-header-default
    %h3.block-title
      %i.si.si-pencil
      modificar #{@vendedor}
    .block-options
      .block-options-item
  .block-content
    = render 'usuarios/form', usuario: @vendedor
