.block
  .block-header.block-header-default
    %h3.block-title
      Modificar #{@mica}
    .block-options
      .block-options-item
  .block-content
    = render 'productos/form', producto: @mica, tipos: Mica::TIPOS
