.block
  .block-header.block-header-default
    %h3.block-title
      Detalles de la mica #{@mica}
    .block-options
      .block-options-item
  .block-content
    = render 'productos/producto', producto: @mica
