<h1>detalle de la mica <%= @mica.nombre %></h1>

<%= render partial: 'productos/producto', locals: { producto: @mica } %>

<%= link_to 'editar', edit_mica_path(@mica) %> |
<%= link_to 'regresar', micas_path %>
