.block
  .block-header.block-header-default
    %h3.block-title
      %i.si.si-pencil
      modificar #{@tratamiento}
    .block-options
      .block-options-item
  .block-content
    = render 'productos/form', producto: @tratamiento, tipos: []
