.block.block-themed
  .block-header.bg-primary-dark
    %h3.block-title
      %i.fa.fa-bookmark
      Lista de tratamientos
    .block-options
      .block-options-item
        = render 'shared/buscador', recursos_ruta: tratamientos_path
      .block-options-item
        = link_to [:new, :tratamiento], class: 'btn btn-alt-secondary' do
          %i.fa.fa-plus
          registrar tratamiento
  .block-content
    = render 'productos/table', productos: @tratamientos
