/ Footer
%footer#page-footer.bg-white.opacity-0
  .content.py-20.font-size-xs.clearfix
    .float-right
      Hecho con
      %i.fa.fa-heart.text-pulse
      por
      %a.font-w600{:href => "https://twitter.com/javasgon?lang=es", :target => "_blank"} itox
    .float-left
      %a.font-w600{:href => "https://goo.gl/po9Usv", :target => "_blank"} Codebase 2.1
      ©
      %span.js-year-copy 2019
/ END Footer
