%body
  %p
    Header --&gt;
    %header#page-header
      / Header Content
      .content-header
        .content-header-section
          %button.btn.btn-circle.btn-dual-secondary{"data-action" => "sidebar_toggle", "data-toggle" => "layout", :type => "button"}
            %i.fa.fa-navicon
        / Right Section
        .content-header-section
          %i.fa.fa-user.d-sm-none
          %span.d-none.d-sm-inline-block
            = current_usuario
        / END Right Section
      / END Header Content
