%aside#side-overlay
  #side-overlay-scroll
    .content-header.content-header-fullrow.bg-primary-dark
      .content-header-section.align-parent
        %button.btn.btn-circle.btn-dual-secondary.align-v-r{"data-action" => "side_overlay_close", "data-toggle" => "layout", :type => "button"}
          %i.fa.fa-times.text-danger
        .content-header-item
          %a.img-link.mr-5{:href => "javascript:void(0)"}
            %img.img-avatar.img-avatar32{:alt => "", :src => "assets/media/avatars/avatar12.jpg"}/
          %a.align-middle.link-effect.text-white-op.font-w600{:href => "javascript:void(0)"} Admin
    .content-side
      .block.pull-t.pull-r-l
        .block-content.block-content-full.block-content-sm.bg-primary
          .row.text-center
            .col-4
              .font-size-sm.font-w600.text-uppercase.text-white-op Sales
              .font-size-h4.text-white 985
            .col-4
              .font-size-sm.font-w600.text-uppercase.text-white-op Tickets
              .font-size-h4.text-white 251
            .col-4
              .font-size-sm.font-w600.text-uppercase.text-white-op Projects
              .font-size-h4.text-white 39
